{# file: clients/templates/clients/dashboard_kinhdoanh.html #}
{% extends "base.html" %}

{% block title %}Dashboard Kinh doanh{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Dashboard Phòng Kinh doanh</h1>
    
    <div class="alert alert-success">
        <h4 class="alert-heading">Đang phát triển!</h4>
        <p>Đây là không gian dành cho các biểu đồ và thống kê chuyên sâu về hoạt động kinh doanh, bao gồm:
            <ul>
                <li>Phân tích kênh khách hàng tiềm năng (pipeline).</li>
                <li>Tỷ lệ chuyển đổi cơ hội thành công.</li>
                <li>Giá trị hợp đồng ký mới theo thời gian.</li>
            </ul>
        </p>
    </div>
</div>
{% endblock %}